{% extends 'base.html'%} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
  <body>
   {% block content %} 

  
    <section id="bgLanding" class=" text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
		<div class="">

			<div class="d-sm-flex align-items-center justify-content-between">
				<div>
					<h1 id="hero">Inventory Management System 
					</h1>
					<p class=" text-justify lead text-dark "> A simple project management app that allow you to track your inventory </p>
					<a href="/demo/dashboard" id="demo" class="btn btn-success ">Demo </a>
                    <a href="/demo/dashboard" id="demo" class="btn btn-success ">Learn More </a>
					
				</div> 
               
                <img src="{% static 'images/heros.gif' %}" style="width: 55%;" alt="My image">
			</div>
 
		</div>

   
    
	</section>

   



    {% endblock %}
  </body>
</html>