{% extends 'base.html'%} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
 <body>
   {% block content %} 

    <section id="bgLanding" class=" text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
		<div class="">
			<div class="d-sm-flex align-items-center justify-content-between">
				<div>
                    <img src="{% static 'images/heros.gif' %}" alt="My image">
				</div> 
               
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button id="login-btn" type="submit" class="btn btn-success btn-md btn-block">Login</button>
                    <p class="text-dark">Not register yet? <span class="text-success">Create an Account</span></p>
                  </form>
			</div>
		
		</div>
	</section>

   



    {% endblock %}
  </body>
</html>