@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/*QuickReset*/*{margin:0;box-sizing:border-box;}


body {                /* body - or any parent wrapper */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    

  }

  html {
    height: 100%;
}
body {
  background-color:#cccccc;
}

  
  main {
    flex: 1;
  }

#brand-name {
    color: rgb(9, 48, 15);
    font-weight: 900;
    font-size: large;
    font-family: 'Quicksand', sans-serif;
    
}

#logo-brand:hover {
    animation: tada;
    animation-duration: 1s;
    font-size: 60px;

}

#hero{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    color: rgb(9, 48, 15);
    font-size: 70px;
    
}


h6{
    font-family: 'Quicksand', sans-serif;
 
}

footer{
    background-color: rgba(0, 0, 0, 0.294);
    padding: 12px;
}

#login-btn{
border: 1px solid white;

}



button{
    padding: 14px 40px;
}

li#login:hover {
    color: white;
    
}



